body{
	background-image:url("a4.jpg");
	background-size:cover;
}
.aa{
	width:400px;
	height:750px;
	background-color:rgba(0,0,0,0.8);
	margin-left:200px;
	margin-top:5px;
	border:1px solid black;
	padding-top:2px;
	padding-left:50px;
	color:white;
	font-weight:bolder;
	border-radius:15px;
	-webkit-border-radius:15px;
	o-border-radius:15px;
	-moz-border-radius:15px;
	
	box-shadow: 7px 7px 15px black;
	
}
div #ename,#email,#pass,#cpass,#admin,#mobile{
	width:300px;
	height:25px;
	border:1px solid black;
	border-radius:5px;
	
	-webkit-border-radius:5px;
	o-border-radius:5px;
	-moz-border-radius:5px;
}
button{
	width:130px;
	height:25px;
	background-color:#fe22ff;
	border:1px solid black;
	color:white;
	font-weight:bolder;
	border-radius:15px;
	-webkit-border-radius:15px;
	o-border-radius:15px;
	-moz-border-radius:15px;
}
div h2{
color:yellow;
text-shadow:5px 5px 10px blue;
}
