<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FinalFilterDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
    <servlet-name>s1</servlet-name>
    <servlet-class>Com.Filter.serv</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>s1</servlet-name>
    <url-pattern>/serv</url-pattern>
    </servlet-mapping>
    <filter>
    <filter-name>f1</filter-name>
    <filter-class>Com.Filter.filter1</filter-class>
    </filter>
    <filter-mapping>
    <filter-name>f1</filter-name>
    <url-pattern>/serv</url-pattern>
    </filter-mapping>
</web-app></element>